Magister.aux
Magister.log
Magister.out
Magister.synctex.gz
Magister.toc
MagisterPresentation.aux
MagisterPresentation.log
MagisterPresentation.nav
MagisterPresentation.out
MagisterPresentation.snm
MagisterPresentation.synctex.gz
MagisterPresentation.toc
pics/data.tar.gz
emblema-eps-converted-to.pdf
pics/data/
texput.log
pics/*.pdf 
pics/T/*.pdf
pics/circle/*.pdf
